extends layout

block content
  header.eatnow
    h1 EatNow
  article.adminMenu
    section#btnRest.adminMenuItem 餐廳
    section#btnAssign.adminMenuItem 出單

  script.
    $("#btnRest").click(function() {
      window.location = '/admin/restaurants';
    });
    $("#btnAssign").click(function() {
      window.location = '/admin/assign/report';
    });
