doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/base.css')
    script(src='/scripts/jquery-2.1.1.min.js')
    script(src='/scripts/jquery.serialize-object.min.js')
  body
    block content
